<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="1.0.0-beta5" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NMemory" version="1.0.0-beta9" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.89.0" targetFramework="net45" />
</packages>